<div class="info">
    <div class="container">
        <table class="reg">
            <tr>
                <td class="tapinRed">
                    <p class="bold">Format</p>
                </td>
                <td class="tapinRed lighter">
                    <ul>
                        <li>4 game season</li>
                        <li>2 festival format</li>
                        <li>Festivals at the start and end of season</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tapinYellow">
                    <p class="bold">Rules</p>  
                </td>
                <td class="tapinYellow lighter">
                    <ul>
                        <li>24 min games</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tapinBlue">
                    <p class="bold">Reccomendations</p>
                </td>
                <td class="tapinBlue lighter">
                    <ul>
                        <li>LIMIT SUBS</li>
                        <li>BALANCE PLAYING TIME</li>
                        <li>ROTATE POSITIONS</li>
                        <li>CONTROL ENVIRONMENT</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table class="mobile">
            <tr>
                <td class="tapinRed">
                    <p class="bold">Format</p>
                </td>
            </tr>
            <tr>
                <td class="tapinRed lighter">
                    <ul>
                        <li>4 game season</li>
                        <li>2 festival format</li>
                        <li>Festivals at the start and end of season</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tapinYellow">
                    <p class="bold">Rules</p>
                </td>
            </tr>
            <tr>
                <td class="tapinYellow lighter">
                    <ul>
                        <li>4X4, NO GK'S</li>
                        <li>25X35 YDS FIELD, 3X5FT GOALS</li>
                        <li>1 REFEREE</li>
                        <li>40 MIN GAMES- 4 QUATERS</li>
                    </ul>
                </td>   
            </tr>
            <tr>
                <td class="tapinBlue">
                    <p class="bold">Reccomendations</p>
                </td>
            </tr>
            <tr>
                <td class="tapinBlue lighter">
                    <ul>
                        <li>LIMIT SUBS</li>
                        <li>BALANCE PLAYING TIME</li>
                        <li>ROTATE POSITIONS</li>
                        <li>CONTROL ENVIRONMENT</li>
                    </ul>
                </td> 
            </tr>
        </table>

        <div class="pdf valign-wrapper">
            <a href="rules.pdf">League Rules Handbook</a>
            <i class="material-icons">file_download</i>
        </div>
    </div>
</div>