<div class="palla">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Stickers</h5>
        <table style="table-layout: fixed;">
            <tr>
                <td class="orange">MVP</td>
                <td class="red">Hardest Worker</td>
                <td class="grey">Best Student</td>
                <td class="green">Best Sportsman</td>
                <td class="blue">Great Play</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="row">
            <div class="col s6 image">
                <img src="/images/palla.png" style="height: 200px;">
            </div>
            <div class="col s6">
                <table>
                    <tr>
                        <td>MVP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Hardest Worker</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Best Student</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Best Sportsman</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Great Play</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
