<div class="stickers">
    <div class="container">
        <h3 class="center-align typicalTitle">Digital Playercard</h3>
        <p class="blurb">The most unique aspect of the GDL Program, is the amazing personalized digital player card that all players are provided with. These player cards will display developmentally appropriate, digital feedback as provided by the team coach. Players will be evaluated during each GDL festival by their coach, and will be awarded digital stickers after the event which will be visible and accessible on their very own electronic player card!
        </p>
        <table style="table-layout: fixed;">
            <tr>
                <td class="red">Hard Worker</td>
                <td class="grey">Great Student</td>
                <td class="green">Fair Play</td>
                <td class="blue">Great Play</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/heart.png"></td>
                <td><img class="sticker" src="/images/stickers/gear.png"></td>
                <td><img class="sticker" src="/images/stickers/handshake.png"></td>
                <td><img class="sticker" src="/images/stickers/clap.png"></td>
            </tr>
        </table>
        <table class="mobile">
            <tr>
                <td class="red">
                    Hard worker
                </td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/heart.png"></td>
            </tr>
            <tr>
                <td class="grey">Great Student</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/gear.png"></td>
            </tr>
            <tr>
                <td class="green">Fair Play</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/handshake.png"></td>
            </tr>
            <tr>
                <td class="blue">Great Play</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/clap.png"></td>
            </tr>
        </table>
        <div class="row">
            <div class="image">
                <img src="/images/player_cards/girlplayercard.png">
            </div>
        </div>
    </div>
</div>
