<div class="stickers">
    <div class="container">
        <h4 class="bold">Stickers</h4>
        <table style="table-layout: fixed;">
            <tr>
                <td class="red">Hard Worker</td>
                <td class="grey">Great Student</td>
                <td class="green">Good Sportsman</td>
                <td class="blue">Great Play</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/heart.png"></td>
                <td><img class="sticker" src="/images/stickers/gear.png"></td>
                <td><img class="sticker" src="/images/stickers/handshake.png"></td>
                <td><img class="sticker" src="/images/stickers/clap.png"></td>
            </tr>
        </table>
        <table class="mobile">
            <tr>
                <td class="red">
                    Hard worker
                </td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/heart.png"></td>
            </tr>
            <tr>
                <td class="grey">Great Student</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/gear.png"></td>
            </tr>
            <tr>
                <td class="green">Good Sportsman</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/handshake.png"></td>
            </tr>
            <tr>
                <td class="blue">Great Play</td>
            </tr>
            <tr>
                <td><img class="sticker" src="/images/stickers/clap.png"></td>
            </tr>
        </table>
        <div class="row">
            <div class="image">
                <img src="/images/player_cards/playercard3.png">
            </div>
        </div>
    </div>
</div>
