<ul id="<%= dropdownId %>" class="dropdown-content">
    <li><a href="#" class="green-text text-lighten-1">Organization</a></li>
    <li><a href="#" class="green-text text-lighten-1">Coach</a></li>
    <li><a href="#" class="green-text text-lighten-1">Parent</a></li>
    <li><a href="#" class="green-text text-lighten-1">Referee</a></li>
</ul>
