<div class="activeFranchises">
    <div class="container">
        <h4 class="bold">Active Franchises</h4>
    </div>
    <div class="mapContainer">
        <div class="map">
            <iframe src="https://createaclickablemap.com/map.php?&id=92794&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe>
            <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>        
        </div>
        <div class="legend">
            <p class="bold">Availability</p>
            <ul>
                <li>
                    <div class="color colorHigh"></div>
                    <p>High</p>
                </li>
                <li>
                    <div class="color colorLow"></div>
                    <p>Low</p>
                </li>
                <li>
                    <div class="color colorNone"></div>
                    <p>None</p>
                </li>
            </ul>
        </div>
    </div>
   
</div>