<div class="activeFranchises">
    <div class="container">
        <h4 class="bold typicalTitle">Active Franchises</h4>
    </div>
    <!-- <div class="mapContainer">
        <div class="map">
            <img src="/images/MA.png" alt="" class="map">
        </div>
        <div class="legend">
            <p class="bold">Availability</p>
            <ul>
                <li>
                    <div class="color colorHigh"></div>
                    <p>Towns in County</p>
                </li>
                <li>
                    <div class="color colorNone"></div>
                    <p>No Towns in County</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="mapContainer">
        <div class="map">
            <img src="/images/CT.png" alt="" class="map">
        </div>
        <div class="legend">
            <p class="bold">Availability</p>
            <ul>
                <li>
                    <div class="color colorHigh"></div>
                    <p>Towns in County</p>
                </li>
                <li>
                    <div class="color colorNone"></div>
                    <p>No Towns in County</p>
                </li>
            </ul>
        </div>
    </div> -->
   

    <div class="mapContainer">
        <div class="map">
            <img src="/images/states/new_england.png" class="map">
        </div>
    </div>

</div>