<div class="fullImageFranchise responsive-img">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 content">
                <h3>Franchise Oppurtunities</h3>
                <p><%- include('../content/mission_statement'); %></p>
            </div>
            <div class="col s6 image hide-on-small-only">
                <img class="twoPhones" src="/images/shysoccerkid.png">
            </div>
        </div>
    </div>
</div>