<script>
    function apiCall(birthYear, gender, sponsored) {
        let canBeSponsored = (sponsored === "true");

        fetch("https://api.tapinmobilesolutions.com/v2/api/public/graphql", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-Auth-PSK": "sKgeXk3WR2LHaKy8"
            },
            body: JSON.stringify({
                query: `
                    query getTeams($gender:Gender, $birthYear:Int, $canBeSponsored:Boolean){
                        publicTeams(
                            input: {
                            skip: 0
                            take: 20
                            gender:$gender
                            birthYear: $birthYear
                            locationId: "5d51298538c43935d0bb66f8"
                            canBeSponsored: $canBeSponsored
                            }
                        ) {
                            name,
                            birthYear,
                            gender,
                            location { 
                                name,
                                parent {
                                    name
                                }
                            },
                            canBeSponsored
                        }
                    }`,
                variables: {
                    "birthYear": parseInt(birthYear),
                    "gender": gender,
                    "canBeSponsored": canBeSponsored 
                }
            })
        }).then(res => res.json()).then(
                    (data) => {
                        console.log(data);
                        data.data.publicTeams.forEach((team) => {
                            $('.results .result table').append(`
                                <tr>
                                    <td>` + team.name + `</td>
                                    <td class="hide-on-med-and-down">` + team.birthYear + `</td>
                                    <td class="hide-on-med-and-down">` + team.gender + `</td>
                                    <td class="hide-on-med-and-down">` + team.location.parent.name + `</td>
                                    <td class="hide-on-med-and-down">` + team.location.name + `</td>
                                    <td>` + team.canBeSponsored + `</td>
                                </tr>
                            `);
                        });
                    }
                );
    }

    apiCall("2002", "MALE", "true");

    $(document).ready(function(){
        $('.filter-button').on('click', function() {
            let gender = $('#gender').val();
            let birthYear = $('#birthYear').val();
            let sponsored = $('#sponsored').val();

            if(gender === null || birthYear === null || sponsored === null) {
                $('.msg').show();
            } else {
                $('.msg').hide();
                $('.results table tr:not(:first)').remove();
                apiCall(birthYear, gender, sponsored);
            }
        });
    });
</script>