<div class="results">
    <div class="container big">
        <div class="row">
            <div class="filter col m12 l3">
                <div class="input-field">
                    <select name="birthYear" id="birthYear">
                        <option value="2002" selected>2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                    </select>
                    <label>Birth Year:</label>
                </div>
                <div class="input-field">
                    <select name="gender" id="gender">
                        <option value="MALE" selected>MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                    <label>Gender</label>
                </div>
                <!-- <div class="input-field">
                    <select name="department" id="department">
                        <option value="All" selected>All</option>
                        <option value="Artibonite">Artibonite</option>
                        <option value="Centre">Centre</option>
                        <option value="Grand'Anse">Grand'Anse</option>
                        <option value="Nippes">Nippes</option>
                        <option value="Nord">Nord</option>
                        <option value="Nord-Est">Nord-Est</option>
                        <option value="Nord-Ouest">Nord-Ouest</option>
                        <option value="Ouest">Ouest</option>
                        <option value="Sud">Sud</option>
                        <option value="Sud-Est">Sud-Est</option>
                    </select>
                    <label>Department</label>
                </div> -->
                <div class="input-field">
                    <select name="sponsored" id="sponsored">
                        <option value="false">Sponsored</option>
                        <option value="true" selected>Not Sponsored</option>
                    </select>
                    <label>Sponsored</label>
                </div>
                <div class="filter-button">Filter</div>
                <div class='msg'>You must fill in every field</div>
            </div>
            <div class="result col m12 l9">
                <table>
                    <tr>
                        <td>Team</td>
                        <td class="hide-on-med-and-down">Year</td>
                        <td class="hide-on-med-and-down">Gender</td>
                        <td class="hide-on-med-and-down">Department</td>
                        <td class="hide-on-med-and-down">Commune</td>
                        <td>Sponsored</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</div>