<div class="results">
    <div class="container big">
        <div class="row">
            <div class="filter col m12 l3">
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                    </select>
                    <label>Birth Year:</label>
                </div>
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                    <label>Gender</label>
                </div>
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="2002">Artibonite</option>
                        <option value="2003">Centre</option>
                        <option value="2004">Grand'Anse</option>
                        <option value="2005">Nippes</option>
                        <option value="2006">Nord</option>
                        <option value="2007">Nord-Est</option>
                        <option value="2008">Nord-Ouest</option>
                        <option value="2009">Ouest</option>
                        <option value="2010">Sud</option>
                        <option value="2011">Sud-Est</option>
                    </select>
                    <label>Department</label>
                </div>
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="2002">Sponsored</option>
                        <option value="2003">Not Sponsored</option>
                    </select>
                    <label>Sponsored</label>
                </div>
                <div class="filter-button">Filter</div>
            </div>
            <div class="result col m12 l9">
                <table>
                    <tr>
                        <td>Team</td>
                        <td class="hide-on-med-and-down">Year</td>
                        <td class="hide-on-med-and-down">Gender</td>
                        <td class="hide-on-med-and-down">Department</td>
                        <td class="hide-on-med-and-down">Commune</td>
                        <td>Sponsored</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</div>