<div class="download">
    <div class="container big">
        <div class="wrap">
            <img src="/images/leagues/tapin.png" class="tapin">
            <div class="content">
                <p class="title bold">Download TapIn League Management App</p>
                <div class="app">
                    <img src="/images/icons/tapin-icon.png" class="app-logo">
                    <div class="words">
                        <p class="white-text">Tapin Mobile Solutions</p>
                        <div class="available">
                            <p class="white-text">Available on: </p>
                            <img src="/images/icons/android.png" class="android">
                            <img src="/images/icons/ios.png" class="ios">
                        </div>
                    </div>                    
                </div>
                <img src="/images/social/qr.png" class="QR">
            </div>
        </div>
    </div>
</div>