<div class="download">
    <div class="container big">
        <div class="wrap">
            <img src="/images/leagues/tapin.png" class="tapin">
            <div class="content">
                <p class="title bold">Download TapIn League Management App</p>
                <img src="/images/social/qr.png" class="QR">
                <div class="available">
                    <p class="white-text bold">Available On:</p>
                    <p class="white-text bold">Apple</p>
                    <p class="white-text bold">Android</p>
                </div>
            </div>
        </div>
    </div>
</div>