<div class="container">
    <h1>About Us</h1>
    <h4>Mission Statement</h4>
    <p class="flow-text">
        <%- include('../content/mission_statement'); %>
    </p>
    <h4>Our Story</h4>
    <p class="flow-text">
        <%- include('../content/our_story'); %> 
    </p>
</div>
