<div class="container">
    <h3>Technology</h3>
    <p class="flow-text">
        <%- include('../content/technology'); %>
    </p>
    <h3>Social Good</h3>
    <p class="flow-text">
        <%- include('../content/social_good'); %>
    </p>
</div>
