<div class="ourStory">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Our Story</h5>
        <p>
            <%- include('../content/our_story'); %> 
        </p>
    </div>
</div>
