<div class="ourStory">
    <div class="container">
        <h4 class="primaryGreen bold">Our Story</h4>
        <p>
            <%- include('../content/our_story'); %> 
        </p>
    </div>
</div>
