<div class="ourTeam">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Our Team</h5>
        <div class="row">
            <div class="person col s12 m6 l4">
                <img class="leaguesLogo" src="/images/steve.png">
                <p class="name bold">Steve Schecter</p>
                <p class="title green-text darken-1">Co-Founder</p>
                <p class="subtitle grey-text">former COO of GPS</p>
                <p class="description left-align">
                    <%- include('../content/justinDescription'); %>
                </p>
            </div>
            <div class="person col s12 m6 l4">
                <img class="leaguesLogo" src="/images/steve.png">
                <p class="name bold">Steve Schecter</p>
                <p class="title green-text darken-1">Co-Founder</p>
                <p class="subtitle grey-text">former COO of GPS</p>
                <p class="description left-align">
                    <%- include('../content/justinDescription'); %>
                </p>
            </div>
            <div class="person col s12 m6 l4">
                <img class="leaguesLogo" src="/images/steve.png">
                <p class="name bold">Steve Schecter</p>
                <p class="title green-text darken-1">Co-Founder</p>
                <p class="subtitle grey-text">former COO of GPS</p>
                <p class="description left-align">
                    <%- include('../content/justinDescription'); %>
                </p>
            </div>
        </div>
    </div>
</div>