<div class="palla">
    <div class="container">
        <h4 class="primaryGreen bold">Palla Sportswear</h4>
        <div class="image">
            <img class="pallalogo" src="/images/icons/palla.png">
        </div>
        <p>
            <%- include('../content/palla'); %> 
        </p>
    </div>
</div>
