<div class="palla">
    <div class="container">
        <h3 class="darkerGreen bold">Palla Sportswear</h3>
        <hr>
        <div class="image">
            <img class="pallalogo" src="/images/icons/palla.png">
        </div>
        <p>
            <%- include('../content/palla'); %> 
        </p>
    </div>
</div>
