<div class="palla">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Palla Sportswear</h5>
        <div class="image">
            <img class="pallalogo" src="/images/palla.png">
        </div>
        <p>
            <%- include('../content/palla'); %> 
        </p>
    </div>
</div>
