<div class="playerCards">
    <div class="container">
        <h4 class="primaryGreen bold">Player Cards</h4>
        <div class="row">
            <div class="col s12 l4 cardContainer">
                <div class="image">
                    <img src="/images/player_cards/playercard4.png">
                </div>
                <p class="title">
                    Haiti
                </p>
            </div>
            <div class="col s12 l4 cardContainer">
                <div class="image">
                    <img src="/images/player_cards/playercard1.png">
                </div>
                <p class="title">Uganda</p>
            </div>
            <div class="col s12 l4 cardContainer">
                <div class="image">
                    <img src="/images/player_cards/playercard2.png">
                </div>
                <p class="title">PSSL</p>
            </div>
        </div>
    </div>
</div>