<div class="socialGood">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Social Good</h5>
        <p>
            <%- include('../content/social_good'); %>
        </p>
    </div>
</div>