<div class="socialGood">
    <div class="container">
        <h4 class="primaryGreen bold">Social Good</h4>
        <p>
            <%- include('../content/social_good'); %>
        </p>
    </div>
</div>