<div class="socialGood">
    <div class="container">
        <h3 class="darkerGreen bold">Social Good</h3>
        <hr>
        <p class="bold grey-text text-darken-2">
        <%- include('../content/social_good'); %>
        </p>
        <div class="moreContent">
            <p class="grey-text text-darken-2">
                <%- include('../content/social_good_more'); %>
            </p>
        </div>
        <div class="row button">
            <a class="readMore btn waves-effect waves-green tapinBtn">Read More</a>
            <a class="readLess btn waves-effect waves-green tapinBtn">Read Less</a>
        </div>
    </div>
</div>