<div class="sponsor grey lighten-3">
    <div class="container">
        <h4 class="bold center-align">Sponsor a Team/Player Today!</h4>
        <p>
            <%- include('../content/sponsor'); %>
        </p>
    </div>
</div>