<div class="technology">
    <div class="container">
        <h3 class="darkerGreen bold">Technology</h3>
        <hr>
         <p>
            <%- include('../content/technology'); %>
        </p>
        <div class="image">
            <img class="tapinlogo" src="/images/leagues/tapin.png">
        </div>
    </div>
    <div class="outergrey grey lighten-3">
        <div class="container">
            <div class="row phone">
                <div class="phoneImage col s12 m6">
                    <img class="phone1" src="/images/phones/Group1.png">
                </div>
                <ul class="col s12 m6">
                    <li>
                        Curriculum & Coach licensing 
                        <br>
                        <span class="grey-text text-darken-1">Age and develpoment appropriate</span>
                    </li>
                    <li>
                        Full communication & scheduling tools
                        <br>
                        <span class="grey-text text-darken-1">Keep coaches and players updated in real time</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outergrey">
        <div class="container">
            <div class="row phone">
                <ul class="col s12 m6">
                    <li>
                        Ongoing data driven assesments 
                        <br>
                        <span class="grey-text text-darken-1">of coach and referee performance</span>
                    </li>
                    <li>
                        Real time feedback from coaches
                        <br>
                        <span class="grey-text text-darken-1">every player, every single match</span>

                    </li>
                </ul>
                <div class="phoneImage2 col s12 m6">
                    <img class="phone2" src="/images/phones/Group2.png">
                </div>
            </div>
        </div>
    </div>
</div>
