<div class="technology">
    <div class="container">
        <h5 class="green-text text-darken-1" style="font-weight: bold;">Technology</h5>
        <div class="image">
            <img class="tapinlogo" src="/images/tapin.png">
        </div>
        <p>
            <%- include('../content/technology'); %>
        </p>
        <div class="row phone">
            <div class="phoneImage col s6">
                <img class="phone1" src="/images/phone1.png">
            </div>
            <ul class="col s6">
                <li>Age and develpoment appropiate curriculum and coach licensing.</li>
                <li>Full communication and scheduling tools to keep coaches and players updated in real time.</li>
            </ul>
        </div>
        <div class="row phone">
            <ul class="col s6">
                <li class="right-align">Age and develpoment appropiate curriculum and coach licensing.</li>
                <li class="right-align">Full communication and scheduling tools to keep coaches and players updated in real time.</li>
            </ul>
            <div class="phoneImage2 col s6">
                <img class="phone2" src="/images/phone2.png">
            </div>
        </div>
    </div>
</div>