<div class="container joinUsInfo">
    <h3 class="bold">What's the Cost?</h3>
    <hr>
    <table style="table-layout: fixed; margin-top: 50px;" class="optionsTable">
        <tr class="grey lighten-1">
            <td>NECSL Members</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/NECSL.jpg">
            </td>
            <td>
                <p>$240 per Team</p>
            </td>
        </tr>
        <tr class="grey lighten-1">
            <td>Non-NECSL Members</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
            <td>
                <p>$300 per Team</p>
            </td>
        </tr>
        <!-- IDK why but  deleting this messes up the formatting  -->
        <tr>
        </tr>
    </table>
    <table style="table-layout: fixed; margin-top: 50px;" class="optionsTableMobile">
        <tr class="grey lighten-1">
            <td>NECSL Members</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/necsl.jpg">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td><p>$240 per Team</p></td>
        </tr>
        <tr class="grey lighten-1">
            <td>Non-NECSL Members</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td>
                <p>$300 per Team</p>
            </td>
        </tr>
        <!-- IDK why but  deleting this messes up the formatting  -->
        <tr>
        </tr>
    </table>
</div>