<div class="container joinUsInfo">
    <h3 class="bold">How to Join?</h3>
    <hr>
    <p class="info">
        Leagues beginning in the Spring 2021
        <br>
        Please click on your state below for more information on the league near you
    </p>
    <div class="row">
        <div class="league col s12 m4">
            <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
            <h5 class="green-text bold">GDL MA</h5>
        </div>
        <div class="towns col s12 m8">
            <!-- <table>
                <tr>
                    <td class="bold">Massachusetts</td>
                    <td class="bold">Connecticut</td>
                </tr>
                <tr>
                    <td>Marlborough, Taunton, Weston, Weymouth, Woburn, Newton, Ludlow, Southborough, Bridgewater and Byfield</td>
                    <td>Rocky Hill, Windsor, North Branford, Trumbull and Groton </td>
                </tr>
            </table> -->
            <table class="townsTable">
                <tr class="head">
                    <td>Massachusetts</td>
                    <td>Connecticut</td>
                </tr>
                <tr class="images">
                    <td>
                        <img src="/images/leagues/logo-draft.png" alt="">
                    </td>
                    <td>
                        <img src="/images/leagues/hybrid.png" alt="">
                    </td>
                </tr>
                <tr class="towns">
                    <td>
                        <ul>
                            <li>Marlborough</li>
                            <li>Taunton</li>
                            <li>Weston</li>
                            <li>Weymouth</li>
                            <li>Woburn</li>
                            <li>Newton</li>
                            <li>Ludlow</li>
                            <li>Southborough</li>
                            <li>Bridgewater</li>
                            <li>Byfield</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Rocky Hill</li>
                            <li>Windsor</li>
                            <li>North Branford</li>
                            <li>Trumbull</li>
                            <li>Groton</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>