<div class="container joinUsInfo">
    <h3 class="bold">How to Join?</h3>
    <hr>
    <div class="row">
        <div class="league col s12 m4">
            <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
            <h5 class="green-text bold">GDL</h5>
        </div>
        <div class="info col s12 m8">
            <p>Programming Begins, Spring 2021!</p>
            <p>To express a desire to participate, click on ‘Register Your Interest’ or email us directly at <a href="mailto: info@gdlsoccer.com" style="color: green; font-style: italic;">info@gdlsoccer.com</a></p>
            <p>Site locations for GDL festivals will be determined based on the various geographic bases of participating groups, with a high priority placed on convenience!</p>
        </div>
    </div>
    <div class="row button">
        <a class="btn tapinBtn" href="#contact_form">Register your Interest</a>
    </div>
</div>