<div class="container joinUsInfo">
    <h3 class="bold">Our Team</h3>
    <hr>
    <div class="row">
        <div class="member col s12 l6">
            <img src="/images/Headshots/pedro.png" alt="" class="headshot">
            <p class="title">Leadership</p>
            <p class="subtitle">Leadership</p>
        </div>
        <div class="member col s12 l6">
            <img src="/images/Headshots/pedro.png" alt="" class="headshot">
            <p class="title">Leadership</p>
            <p class="subtitle">Leadership</p>
        </div>
    </div>
</div>