<div class="fullImage responsive-img">
    <div class="container">
        <p class="center-align flow-text white-text">Soccer Starts Here!</p>
        <a href="/joinus" class="btn-large tapinBtn waves-effect waves-green">Register your Interest</a>
    </div>
</div>