<div class="fullImage responsive-img">
    <div class="container">
        <h1 class="center-align white-text">GDL - U7/U8 Development Program</h1>
        <p class="center-align flow-text white-text">Soccer Starts Here!</p>
        <a href="/joinus" class="btn-large tapinBtn waves-effect waves-green">Join Us</a>
    </div>
</div>