<div class="news">
    <div class="container" style="width: 100%;">
        <h3 class="center-align">News</h3>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="news-card hoverable">
                    <div class="league green darken-3 white-text">
                        GDL MA
                    </div>
                    <p class="title white-text bold">TapIn Partnership</p>
                </div>
            </div>  
            <div class="col s12 m6 l4">
                <div class="news-card hoverable">
                    <div class="league pink white-text">
                        GDL NH
                    </div>
                    <p class="title white-text bold">Palla Partnership</p>
                </div>
            </div>  
            <div class="col s12 l4">
                <div class="news-card hoverable">
                    <div class="league orange white-text">
                        GDL NH
                    </div>
                    <p class="title white-text bold">2020 Launch in New England</p>
                </div>
            </div>  
        </div>
    </div>
</div>