<div class="ourLeagues <%= home ? ' grey lighten-4' : '' %>">
    <div class="container">
        <h3 class="center-align typicalTitle">Our Programs</h3>
        <div class="row">
            <div class="league col s12 m4">
                <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
                <h5 class="green-text bold">GDL MA</h5>
            </div>
            <div class="towns col s12 m8" style="margin-top: 50px;">
                <table>
                    <tr>
                        <td class="bold">Massachusetts</td>
                        <td class="bold">Connecticut</td>
                    </tr>
                    <tr>
                        <td>Marlborough, Taunton, Weston, Weymouth, Woburn, Newton, Ludlow and Byfield</td>
                        <td>Rocky Hill, Windsor, North Branford, Trumbull and Groton </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>