<div class="ourLeagues <%= home ? ' grey lighten-4' : '' %>">
    <div class="container">
        <h3 class="center-align typicalTitle">Our Programs</h3>
        <div class="row">
            <div class="league col s12 m4">
                <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
                <h5 class="green-text bold">GDL</h5>
            </div>
            <div class="towns col s12 m8" style="margin-top: 50px;">
                <!-- <table>
                    <tr>
                        <td class="bold">Massachusetts</td>
                        <td class="bold">Connecticut</td>
                    </tr>
                    <tr>
                        <td>Marlborough, Taunton, Weston, Weymouth, Woburn, Newton, Ludlow, Southborough, Bridgewater, and Byfield</td>
                        <td>Rocky Hill, Windsor, North Branford, Trumbull and Groton </td>
                    </tr>
                </table> -->
                <table class="townsTable">
                    <tr class="head">
                        <td>Massachusetts</td>
                        <td>Connecticut</td>
                    </tr>
                    <tr class="images">
                        <td>
                            <img src="/images/leagues/logo-draft.png" alt="">
                        </td>
                        <td>
                            <img src="/images/leagues/hybrid.png" alt="">
                        </td>
                    </tr>
                    <tr class="towns">
                        <td>
                            <ul>
                                <li>Bridgewater</li>
                                <li>Byfield</li>
                                <li>Ludlow</li>
                                <li>Marlborough</li>
                                <li>Newton</li>
                                <li>Southborough</li>
                                <li>Taunton</li>
                                <li>Weston</li>
                                <li>Weymouth</li>
                                <li>Woburn</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Groton</li>
                                <li>North Branford</li>
                                <li>Rocky Hill</li>
                                <li>Trumbull</li>
                                <li>Windsor</li> 
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>