<div class="testimonials grey lighten-2">
    <div class="container">
        <h3 class="center-align typicalTitle">What They Said</h3> 

        <div class="row">
            <%- include('../minis/testimonial', {
                img: "steve",
                name: "Steve Schecter",
                title: "Placeholder Title",
            }); %> 
            <%- include('../minis/testimonial', {
                img: "test2",
                name: "Mark Spalding",
                title: "Head of Intermediate Academy - Rangers F.C.",
            }); %> 
            <%- include('../minis/testimonial', {
                img: "JC",
                name: "Justin Capell",
                title: "Placeholder Title",
            }); %> 
        </div>

    </div>
</div>