<div class="testimonials grey lighten-2">
    <div class="container">
        <h3 class="center-align">Testimonials</h3> 
        <div class="row carousel-wrapper">
            <div class="carousel carousel-slider center">
                <div class="carousel-item white" href="#one!">
                  <p class="testimonial left-align">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam nisi, officia, quae suscipit placeat aut aperiam odio deserunt tenetur ratione repudiandae natus dolorum obcaecati itaque a? Nostrum, nulla molestias?                  </p>
                  <div class="testInfo">
                    <div class="image"></div>
                    <p class="bold authorName">-Steve Schector</p>
                  </div>
                </div> 
                <div class="carousel-item white" href="#two!">
                  <p class="testimonial left-align">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam nisi, officia, quae suscipit placeat aut aperiam odio deserunt tenetur ratione repudiandae natus dolorum obcaecati itaque a? Nostrum, nulla molestias?                  </p>
                  <div class="testInfo">
                    <div class="image"></div>
                    <p class="bold authorName">-Steve Schector</p>
                  </div>
                </div> 
                <div class="carousel-item white" href="#three!">
                  <p class="testimonial left-align">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam nisi, officia, quae suscipit placeat aut aperiam odio deserunt tenetur ratione repudiandae natus dolorum obcaecati itaque a? Nostrum, nulla molestias?                  </p>
                  <div class="testInfo">
                    <div class="image"></div>
                    <p class="bold authorName">-Steve Schector</p>
                  </div>
                </div> 
                <div class="carousel-item white" href="#four!">
                  <p class="testimonial left-align">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus magnam nisi, officia, quae suscipit placeat aut aperiam odio deserunt tenetur ratione repudiandae natus dolorum obcaecati itaque a? Nostrum, nulla molestias?                  </p>
                  <div class="testInfo">
                    <div class="image"></div>
                    <p class="bold authorName">-Steve Schector</p>
                  </div>
                </div> 
                
            </div>
        </div>
    </div>
</div>