<div class="testimonials grey lighten-2">
    <div class="container">
        <h3 class="center-align">Testimonials</h3> 
        <div class="row carousel-wrapper">
            <div class="carousel carousel-slider center">
                <div class="carousel-item white" href="#one!">
                  <div class="imageContainer">
                    <div class="image"></div>
                  </div>
                  <div class="testimonial">
                    <p class="name bold">Steve Schector</p>
                    <p class="title">Proffesional footballer</p>
                    <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, nihil recusandae omnis reiciendis iste velit quia saepe ea commodi ipsum.</p>
                    <div class="stars"></div>
                  </div>
                </div> 
                <div class="carousel-item white" href="#two!">
                  <div class="imageContainer">
                    <div class="image"></div>
                  </div>
                  <div class="testimonial">
                    <p class="name bold">Steve Schector</p>
                    <p class="title">Proffesional footballer</p>
                    <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, nihil recusandae omnis reiciendis iste velit quia saepe ea commodi ipsum.</p>
                  </div>
                </div> 
            </div>
        </div>
    </div>
</div>