<div class="testimonials grey lighten-2">
    <div class="container">
        <h3 class="center-align typicalTitle">What the Experts are Saying</h3> 

        <div class="row">
            <%- include('../minis/testimonial', {
                img: "tomasso",
                name: "Tommaso Trevisan",
                title: "NE Surf Soccer Club",
            }); %> 
            <%- include('../minis/testimonial', {
                img: "markspalding",
                name: "Mark Spalding",
                title: "Head of Intermediate Academy - Rangers F.C.",
            }); %> 
            <%- include('../minis/testimonial', {
                img: "fellsway",
                name: "Vinnie Musto",
                title: "Director of Soccer - Fellsway Wanderers FC",
            }); %> 
        </div>

    </div>
</div>