<div class="whatWeDo">
    <div class="container big">
        <h3 class="center-align typicalTitle">What We Do</h3>
        <div class="row">
            <%- include('../minis/whatWeDoCard', {
                title: "Technology",
                image: "technology.png",
                text: "Unique, Personalized Digital Player Card for all Players",
                text2: "Best in Class Technology Platform",
                num: "one"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Development",
                image: "soccer.png",
                text: "Fun, Low Pressure Introduction to Organized Competition",
                text2: "Small Sided, Conditioned and Free Play Games",
                num: "two"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Social Good",
                image: "socialgood.png",
                text: "Influencing Positive Social Change",
                text2: "Impacting Young Lives Throughout the World",
                num: "three"
            }); %> 
        </div>
    </div>
</div>