<div class="whatWeDo">
    <div class="container big">
        <h3 class="center-align typicalTitle">What We Do</h3>
        <div class="row">
            <%- include('../minis/whatWeDoCard', {
                title: "Technology",
                image: "technology.png",
                text: "Player, Coach, and Parent Education Driven",
                num: "one"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Development",
                image: "soccer.png",
                text: "Unique, Best in Class Technology Platform",
                num: "two"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Social Good",
                image: "socialgood.png",
                text: "Impacting Young Lives Throughout the World",
                num: "three"
            }); %> 
        </div>
    </div>
</div>