<div class="whatWeDo">
    <div class="container">
        <h3 class="center-align">WHAT WE DO</h3>
        <div class="row">
            <%- include('../minis/whatWeDoCard', {
                title: "Development",
                image: "soccer.png",
                text: "Best in class mobile app",
                color: "lighten-2"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Technology",
                image: "technology.png",
                text: "Bes tin class mobile app",
                color: ""
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Social Good",
                image: "socialgood.png",
                text: "Impact lives in the nation we serve",
                color: "darken-2"
            }); %> 
        </div>
    </div>
</div>