<div class="whatWeDo">
    <div class="container big">
        <h3 class="center-align typicalTitle">What We Do</h3>
        <div class="row">
            <%- include('../minis/whatWeDoCard', {
                title: "Innovation",
                image: "technology.png",
                text: "Unique, Personalized Digital Player Card",
                text2: "Best in Class Technology Platform",
                num: "one"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Fun and Development",
                image: "soccer.png",
                text: "Festival Format, Positive and Controlled",
                text2: "Exciting Digital Feedback Stickers!",
                num: "two"
            }); %> 
            <%- include('../minis/whatWeDoCard', {
                title: "Supplemental",
                image: "handshake.png",
                text: "COMPLIMENTS organizations programs!",
                text2: "Low Pressure Introduction to Structured Play",
                num: "three"
            }); %> 
        </div>
    </div>
</div>