<div class="col s12 l4">

    <div class="program">
        <img src="/images/icons/<%= image %>.png">
        <p class="title bold"><%= title %></p>
        <p class="info grey-text text-darken-1"><%= info %></p>
    </div>
    
</div> 