<div class="imageContainer">
    <div class="image <%= img %>"></div>
</div>
<div class="testimonial">
    <p class="name bold"><%= name %></p>
    <p class="title green-text text-darken-2"><%= title %></p>
    <p class="content grey-text text-darken-2"><%- include('../content/testimonials/' + img); %></p>
    <div class="stars"></div>
</div>