<div class="col s12 l4">
    <div class="card" id="<%= num %>">
        <div class="card-content">
            <img class="whatWeDo-logo" src="images/icons/<%= image %>">
            <span class="card-title white-text" style="font-weight: bold;"><%= title %></span>
            <p class="white-text  center-align"><%= text %></p>
        </div>
    </div>
</div>

