body {
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    margin-top: 50px;
}

img.logo {
    height: 150px;
    margin-top: -25px;
}

ul.main {
    display: flex;
    justify-content: center;
}

.first, .second {
    width: 300px;
    display: flex;
}

.first {
    justify-content: flex-end;
}

nav .nav-wrapper ul a.no-hover:hover {
    background-color: transparent; 
}

.fullImage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/defense.png') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.fullImageAboutUs {
    background: url('/images/aboutuscover.png');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.fullImageAboutUs .container {
    width: 100%;
    padding-top: 50px;
}

.fullImageAboutUs .row {
    margin: 0;
}

.fullImageAboutUs .content {
    margin-top: 100px;
}

.fullImageAboutUs .content p {
    margin-top: 50px;
    font-size: 20px;
    font-style: italic;
}

.fullImageAboutUs .image {
    text-align: right;
}

.fullImageAboutUs h3 {
    text-decoration: underline grey;
    text-underline-position: under;
}

.twoPhones {
    height: 400px;
}

.fullImage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullImage .container a {
    width: 10rem;
}

.whatWeDo .card {
    min-height: 200px;
}

.row {
    margin-top: 50px;
}

.container {
    padding: 50px;
    
}

.ourProgram .container, .ourLeagues .container, .testimonials .container, .partners .container {
    width: 100%;
    min-height: 500px;
}

.ourProgram-img {
    height: 150px;
}

.ourProgram-img.social {
    height: 150px;
}

.ourProgram .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProgram .card-title {
    margin-top: 20px;
    font-weight: bold !important ;
    height: 40px;
    font-size: 18px !important ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ourProgram .card-reveal {
    font-weight: bold !important ;
}

.row.button {
    display: flex;
    justify-content: center;
}

.leaguesLogo {
    height: 150px;
}

.league {
    text-align: center;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper .material-icons {
    cursor: pointer;
}

.card-menu {
    align-self: flex-end;
    position: absolute;
} 

.partners-logo {
    height: 150px;
}

.partner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partner-container a {
    margin-top: 20px;
}

.whatWeDo-logo {
    height: 50px;
}

.whatWeDo .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatWeDo .card-content span {
    margin-top: 10px;
}

.contactUs .container {
    max-height: 200px;
}

.social-icon {
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.contactUs .row {
    margin: 0;
}

.contactUs .col.mail {
    display: flex;
    justify-content: flex-start;
}

.contactUs .col {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    nav {
      margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .fullImageAboutUs .content p {
        font-size: 18px;
    }

    a.no-hover {
        padding: 0;
    }

    a.no-hover img.logo {
        height: 100px;
    }
}