@import "variables.css";

@import "universal.css";

@import "download.css";

body {
    font-family: var(--header-font);
    font-weight: 400;
}

html, body {
    overflow-x: hidden;
}

h3 {
    margin: 0 !important;
}

nav {
    margin-top: 50px;
}

h5 {
    margin: 0 !important;
}

img.logo {
    height: 150px;
    margin-top: -25px;
}

ul.main {
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    background-color: var(--darker-green);
}

.first, .second {
    width: 300px;
    display: flex;
}

.first {
    justify-content: flex-end;
}

nav .nav-wrapper ul a.no-hover:hover {
    background-color: transparent; 
}

.fullImage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/backgrounds/defense.png') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.fullImage p {
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
}

.fullImageAboutUs {
    background: url('/images/backgrounds/aboutus.jpg');
}

.fullImageLeague, .fullImageLeagueLanding {
    background: url('/images/backgrounds/programs.jpg');
}

.fullImageJoin {
    background: url('/images/backgrounds/joinus.jpg');
}

.fullImageFranchise {
    background: url('/images/backgrounds/greenbackground.png');
}

.fullImageAboutUs, .fullImageFranchise {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.fullImageAboutUs .container, .fullImageFranchise .container {
    width: 100%;
    padding-top: 50px;
}

.fullImageAboutUs .row, .fullImageFranchise .row {
    margin: 0;
}

.fullImageAboutUs .content, .fullImageFranchise .content {
    margin-top: 100px;
}

.fullImageAboutUs .content p, .fullImageFranchise .content p {
    margin-top: 50px;
    font-size: 20px;
    font-style: italic;
}

.fullImageJoin p a {
    color: white;
    text-decoration: underline;
}

.fullImageAboutUs .image, .fullImageFranchise .image {
    text-align: right;
}

.fullImageLeagueLanding .image {
    text-align: center;
    margin-top: 50px;
}

.fullImageLeagueLanding .image img {
    height: 450px;
}

.member {
    text-align: center;
}

.member img.headshot {
    height: 150px;
}

.fullImageAboutUs h3, .fullImageFranchise h3 {
    display: inline;
    padding-bottom: 10px;
    border-bottom: 4px solid grey;
    font-weight: bold;
    color: #333;
}

.fullImageLeagueLanding h3 {
    border-bottom: 4px solid white;
}

.fullImageLeague h3, .fullImageJoin h3 {
    border-bottom: 2px solid white;
}

.twoPhones {
    height: 400px;
}

.fullImage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullImage .container a {
    /* width: 10rem; */
    font-size: 14px;
}

.whatWeDo, .ourProgram, .news {
    padding-top: 50px;
}

.news .row {
    margin: 0;
}

.news {
    padding-bottom: 75px;
}

.ourLeagues {
    margin-top: 75px;
}

.whatWeDo .card {
    min-height: 250px;
    padding-top:10px;
}

.whatWeDo .card#one {
    background: linear-gradient(180deg, #008738, #81D49D );
}

.whatWeDo .card#two {
    background: linear-gradient(180deg, #8FC31F, #C8E191 );
}

.whatWeDo .card#three {
    background: linear-gradient(180deg, #006934, #84B79D );
}

.row {
    margin-top: 50px;
}

.container {
    padding: 50px;
    
}

.ourProgram .row .col {
    max-height: 345px;
}

.ourProgramHome .container, .ourLeagues .container, .testimonials .container, .partners .container, .playerCards .container.big {
    width: 100%;
}

.outergrey .container {
    padding: 20px 0;
}

.ourProgram-img {
    height: 150px;
}

.ourProgram-img.social {
    height: 150px;
}

.ourProgram .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProgram .card-title {
    margin-top: 20px;
    font-weight: bold !important ;
    height: 40px;
    font-size: 18px !important ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ourProgram .card-reveal {
    font-weight: bold !important ;
}

.ourProgram .program {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.ourProgram .program img {
    text-align: center;
    height: 135px;
}

.ourProgram .program .title {
    color: var(--primary-green);
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
}

.ourProgram .program .info {
    text-align: center;
}

.row.button {
    display: flex;
    justify-content: center;
    margin: 0;
}

.leaguesLogo {
    height: 150px;
}

.ourLeagues .league, .ourLeagues .person {
    text-align: center;
    margin-top: 50px;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper .material-icons {
    cursor: pointer;
}

.card-menu {
    align-self: flex-end;
    position: absolute;
} 

.partners-logo {
    height: 150px;
}

.partners .row .btn {
    background-color: var(--primary-green);
}

.partner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.partner-container a {
    margin-top: 20px;
}

.whatWeDo-logo {
    height: 50px;
}

.whatWeDo .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatWeDo .card-content span {
    margin-top: 10px;
}

.contactUs {
    background-color: var(--primary-green);
}

.social a img.social-icon {
    height: 60px;
    cursor: pointer;
    position: relative;
    margin-right: 50px;
}

.social a:last-of-type img.social-icon {
    margin-right: 0;
}

/* .contactUs .social {
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.contactUs .social-icon:hover {
    border: 2px solid white;
    border-radius: 80%;
    box-sizing: border-box;
}

.contactUs .col.mail {
    display: flex;
    justify-content: flex-start;
}

.contactUs .col {
    display: flex;
    justify-content: flex-end;
} */


.footer {
    background-color: var(--primary-green);
    min-height: 300px;
    text-align: center;
    padding: 10px;
}

.footer .row .col img {
    height: 70px;
    width: 70px;
}

.footer .row {
    width: 60%;
    margin: 50px auto;
}

.footer .row .col {
    margin-top: 25px;
}

.footer p {
    color: white;
    font-size: 22px;
}


.ourStory p, .technology p, .socialGood p, .sponsor p, .palla p {
    margin-top: 50px;
    font-size: 18px;
}

.socialGood {
    margin-top: 50px;
}

li a i.right {
    margin-left: 0;
}

.dropdown-content#dropdown1 li a {
    color: var(--darker-green)
}

.technology .tapinlogo, .palla .pallalogo {
    height: 150px;
}

.technology .image, .palla .image {
    text-align: center;
    margin-top: 50px;
}

.palla {
    margin-top: 50px;
}

.technology p {
    margin-top: 50px;
}

.technology .phone {
    margin-top: 100px;
    
}

.technology .phoneImage, .technology .phoneImage2 {
    text-align: left;
}

.technology .phone ul {
    padding: 0 50px;
}

.technology .phone ul li {
    margin-bottom: 30px;
    font-size: 18px;
    list-style: none;
}

.technology .phone ul li .dot {
    background-color: var(--primary-green);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.technology .phone ul li span {
    font-size: 14px;
}

.technology {
    padding-bottom: 50px;
}

.phone1 {
    width: 80%;
}

.phone2 {
    width: 100%;
}

.ourTeam .person {
    text-align: center;
}

.ourTeam .person .name {
    font-size: 20px;
}

.ourTeam .person .title {
    font-size: 18px;
    font-style: italic;
}

.ourTeam .person .subtitle {
    font-style: italic;
}

.ourTeam .person .subtitle, .ourTeam .person .title, .ourTeam .person .name{
    margin: 5px 0;
}

.sticker {
    height: 50px;
}

table td{
    text-align: center;
}

ul.indicators {
    background-color: var(--primary-green);
}

.authorPic {
    height: 50px;
}

.testimonial-card {
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
    min-height: 560px;
}

.testimonial-card .title {
    min-height: 50px;
}

.testimonial-card .pic {
    border-radius: 50%;
    border: 3px solid;
    height: 150px;
    width: 150px;
    margin-top: -75px;
}

.testimonial-card img.stars {
    width: 25%;
    margin-bottom: 50px;
}

.testimonial-card#tomasso .title {
    color: lightcoral;
}

.testimonial-card#tomasso .pic {
    border-color:lightcoral;
}

.testimonial-card#markspalding .title {
    color: orange;
}

.testimonial-card#markspalding .pic {
    border-color:orange;
}

.testimonial-card#test3 .title {
    color: skyblue;
}

.testimonial-card#test3 .pic {
    border-color:skyblue;
}

.testimonials .row {
    margin-top: 150px;
}

.testimonial-card .content {
    text-align: left;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    min-height: 200px;
    font-style: italic;
}

div.mapContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.legend ul li {
    display: flex;
    align-items: center;
}

.legend ul li p {
    margin-left: 10px;
}

.color {
    width: 40px;
    height: 20px;
    border-radius: 10%;
}

.colorHigh {
    background-color:  #00e600;
}

.colorLow {
    background-color: #83CC83;
}

.colorNone {
    background-color: #D6D6D6;
}

.types {
    margin-top: 50px;
}

.types .typesTable, .types .typesTableMobile {
    margin-top: 50px;
}

.types .typesTable img {
    max-height: 100px;
    max-width: 100%;
}

.types .typesTable td {
    border: 1px solid lightgrey;
    font-family: var(--header-font);
    font-weight: 300;
}

.types .typesTable tr.descriptions {
    font-style: italic;
}

.types .typesTable tr.headers td {
    font-weight: 500;
}

.optionsTable {
    margin-top: 50px;
}

.optionsTable img {
    height: 100px;
}

.optionsTable tr td:first-of-type {
    border-right: 1px solid grey;
    width: 25%;
}

.optionsTable p {
    font-style: italic;
}

.optionsTable tr:nth-of-type(2n) td:nth-of-type(2) {
    padding: 25px 100px;
    text-align: left;
}

.optionsTable tr:last-of-type td {
    color: var(--primary-green);
    padding: 25px 100px;
}

.optionsTableMobile tr:last-of-type td {
    color: var(--primary-green);
}

.optionsTableMobile {
    display: none;
}

.optionsTableMobile img {
    height: 100px;
}

@media only screen and (max-width: 500px) {
    .optionsTable {
        display: none;
    }

    .optionsTableMobile {
        display: table;
    }
}

.playerCards .container > p, .tapinLeagues .container > p, .ourTeam .container > p  {
    font-size: 20px;
}

.playerCards .image img{
    width: 200px;
}

.playerCards .cardContainer{
   text-align: center;
}

.playerCards .cardContainer p.title{
   font-size: 20px;
}

.news .row a:nth-child(1) .news-card {
    background: linear-gradient( rgba(255, 255, 255, .3), rgba(0, 0, 0, 0.7) ), url('/images/news/news1.png') no-repeat center/cover;
}

.news .row a:nth-child(2) .news-card {
    background: linear-gradient( rgba(255, 255, 255, .3), rgba(0, 0, 0, 0.7) ), url('/images/news/news2.png') no-repeat center/cover;
}

.news .row a:nth-child(3) .news-card {
    background: linear-gradient( rgba(255, 255, 255, .3), rgba(0, 0, 0, 0.7) ), url('/images/news/news3.png') no-repeat center/cover;
}

.news-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding: 15px 15px;
    margin-top: 50px;
}

.news-card p.title {
    margin: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}

.news-card div.league {
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 55px;
}

.newsHeader {
    min-height: 200px;
    background: url('/images/news/newsHeader.png');
    background-size: cover;
    background-position: center;
    padding-left: 10%;
}

.story .header .top {
    border-bottom: 2px solid grey;
    padding: 20px 0;
}

.story {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.story img {
    width: 100%;
    align-self: center;
}

.story > * {
    margin-bottom: 50px;
}

.story .header .top .league {
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
}

.story .header .top .leagueSmall {
    padding: 5px 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: none;
}

.story .header .top {
    text-align: center;
}

.story .header .top .title {
    text-align: center;
    margin: 0;
}

.MA {
    background-color: green;
}

.NH {
    background-color: pink;
}

.table-of-contents {
    position: fixed;
    top: 50vh;
    right: 50px;
}

.typesTableMobile {
    display: none;
}

.typesTableMobile img {
    height: 60px;
}

.typesTableMobile tr {
    margin-bottom: 50px;
}

.townsTable tr.head {
    background-color: grey;
}

.townsTable tr.head td {
    border-radius: 0;
}

.townsTable tr.images td img {
    height: 100px;
}

.townsTable tr.towns {
    background-color: lightgray;
}

@media only screen and (max-width: 600px) {
    div.towns {
        margin-top: 50px;
    }
}

.joinUsInfo h3, .socialGood h3, .technology h3, .ourProgram h3, .ourStory h3, .palla h3 {
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.joinUsInfo form.col {
    padding: 0;
}

.joinUsInfo .include {
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.joinUsInfo .league {
    text-align: center;
}

.joinUsInfo .row.leagues {
    margin: 0;
}

.joinUsInfo p.info {
    margin-top: 50px;
}

.joinUsInfo .where img {
    width: 100%;
}

.joinUsInfo .where {
    text-align: center;
}

.info table {
    box-shadow: 2px 2px 5px #8c8c8c;
}

.info table td {
    text-align: left;
    padding: 20px 50px;
}

@media only screen and (max-width:400px) {
    .info table td {
        text-align: left;
        padding: 5px 10px;
    }
}

.info table p.bold {
    font-size: 24px;
    font-family: var(--header-font);
}

.info .pdf {
    margin-top: 50px;
}

.info .pdf a {
    color: #ff7771;
    font-size: 20px;
    text-decoration: underline;
    margin-right: 20px;
}

.info .pdf i {
    color: #ff7771;
    font-size: 30px;
}

.stickers table {
    margin-top: 50px;
}

.stickers table td {
    border: 1px solid #ccc;
    border-radius: 0;
}

.stickers h4 {
    color: #333;
}

.stickers .row .image {
    text-align: center;
}

.download {
    background: linear-gradient(45deg, #02af5f, #074c96);
}

.download.banner {
    font-size: 24px;
    font-weight: bold;
    padding: 0 10%;
}

.download .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download .wrap .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.download .container {
    padding: 50px 0;
}

.download img.tapin {
    width: 175px;
    margin-bottom: 25px;
}

.download .wrap .content .title {
    color: white;
    font-size: 2rem;
    max-width: 30%;
}

.download img.QR {
    width: 100px;
}

.download .app {
    display: flex;
    align-items: center;
}

.download .app .words p{
    margin: 0;
}

.download .app img.app-logo {
    width: 75px;
    height: 75px;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.download .app .words .available {
    display: flex;
    align-items: center;
}

.download .app .words > p {
    font-size: 16px;
}


.row.contactForm {
    margin-top: 0;
}

.sponsor .tapinBtn {
    font-weight: normal;
    border-radius: 10px;
    margin-top: 20px;
}

.sponsor h4 {
    font-style: italic;
}

.sponsor img.hand {
    width: 200px;
    height: 200px;
} 

.sponsor p {
    margin: 0;
}

.sponsor .container {
    padding: 50px 0;
}
.contactBox .box {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contactBox .box .content .title {
    color: var(--primary-green);
    font-size: 24px;
    margin: 0;
}

.contactBox .box img {
    height: 150px;
}

.contactBox .box .info a {
    color: #ff3366;
    text-decoration: underline;
    font-style: italic;
}

div.moreContent {
    display: none;
}

a.readLess {
    display: none;
}

.stickers table.mobile {
    display: none;
}

.stickers .row .image img {
    height: 400px;
}

.activeFranchises .map {
    width: 80%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .activeFranchises .map {
        width: 100%;
    }
}

.activeFranchises .map iframe {
    width: 80%;
}

.tapinLeagues .row .league {
    text-align: center;
}

a[name="contactform"] {
    color: black;
}

.info table.mobile {
    display: none;
}

@media only screen and (max-width: 308px) {

    .fullImageLeague .content h3 {
        border-bottom: none;
    }
    
 
    .fullImageLeague .content h3 span {
        border-bottom: 2px solid white;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 50px 10px;
    }

    nav {
      margin-top: 0;
    }

    .testimonials .container {
        padding: 50px 0;
    }

    .testimonials .container .carousel-item {
        padding: 0;
    }

    .social .social-icon {
        margin-right: 0;
    }

    .fullImage h1 {
        font-size: 3rem;
        margin: 0;
    }

    .partners .partners-logo {
        height: 100px;
    }

    .stickers table {
        display: none;
    }

    .stickers table.mobile {
        display: table;
    }
    
    .contactBox .col .content {
        text-align: center;
    }

    .fullImageAboutUs .content, .fullImageFranchise .content {
        margin-top: 0;
    }

    .technology .tapinlogo {
        height: 100px;
    }

    .phone .phoneImage, .phone .phoneImage2 {
        text-align: center;
    }

    .phone ul li {
        text-align: center;
        list-style-image: none;
    }

    .sponsor img.hand {
        width: 150px;
        height: 150px;
    }

    .story .header .top .leagueSmall {
        display: block;
    }

    .story .header .top .league {
        display: none;
    }
}

@media only screen and (max-width: 565px) {
    .fullImageFranchise .content h3 {
        border-bottom: none;
    }

    .fullImageFranchise .content h3 span {
        border-bottom: 4px solid grey;
    }
}

@media only screen and (max-width: 300px) {
    .partners .partners-logo {
        height: 50px;
    }

    .technology .tapinlogo {
        height: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .whatWeDo .container {
        padding: 0;
    }

    .social {
        width: 150px;
    }

    .contactUs .container {
        padding: 50px 0;
    }

    .fullImageLeague .content p {
        display:none;
    }

    .stickers .row .image img {
        height: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .fullImageAboutUs .content p {
        font-size: 18px;
    }

    a.no-hover {
        padding: 0;
    }

    a.no-hover img.logo {
        height: 100px;
    }

    .download .wrap .content {
        flex-direction: column;
        text-align: center;
    }

    .download .wrap .content .app {
        margin-bottom: 50px;
    }

    .download .wrap .content .title {
        max-width: 100%;
    }

}

@media only screen and (max-width: 800px) {
    .carousel-item {
        flex-direction: column;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }

    .carousel-item .testimonial .stars {
        padding: 30px 0;
    }

    .carousel-item .imageContainer {
        display: none;
    }

    .typesTable {
        display: none;
    }

    .typesTableMobile {
        display: table;
    }

    .info table.reg {
        display: none;
    }

    .info table.mobile {
        display: table;
    }

}

@media only screen and (max-width: 1000px) {

    .testimonial-card .stars .stars {
        width: 25%;
    }

    .testimonial-card .content {
        font-size: 20px;
    }

    .activeFranchises .mapContainer {
        flex-direction: column;
        align-items: center;
    }

    .activeFranchises .mapContainer .map iframe {
        height: 70vw;
    }

    .sponsor .row {
        text-align: center;
    }

    .ourTeam .row .person:nth-child(2) {
        text-align: center;
    }

    .ourTeam .row .person {
        margin-bottom: 50px;
    }
}

