nav {
    margin-top: 50px;
}

img.logo {
    height: 150px;
    margin-top: -50px;
}

ul.main {
    display: flex;
    justify-content: center;
}

nav .nav-wrapper ul a.no-hover:hover {
    background-color: transparent; 
}

@media only screen and (max-width: 600px) {
    nav {
      margin-top: 0;
    }
  }