<div class="testimonials grey lighten-2">
    <div class="container">
        <h3 class="center-align">Testimonials</h3> 
        <div class="row carousel-wrapper">
            <i class="large material-icons green-text">chevron_left</i>
            <div class="carousel carousel-slider center">
                <div class="carousel-item red white-text" href="#one!">
                  <h2>Testimonial 1</h2>
                  <p class="white-text">Testimonial 1</p>
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                  <h2>Testimonial 2</h2>
                  <p class="white-text">Testimonial </p>
                </div>
                <div class="carousel-item green white-text" href="#three!">
                  <h2>Testimonial 3</h2>
                  <p class="white-text">Testimonial 3</p>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                  <h2>Testimonial 4</h2>
                  <p class="white-text">Testimonial 4</p>
                </div>
            </div>
            <i class="large material-icons green-text">chevron_right</i>
        </div>
        
    </div>
</div>