<div class="contactUs">
    <div class="container">
        <h4 class="center-align white-text typicalTitle" style="margin: 0;">Contact Us</h4>
        <div class="social">
            <img class="social-icon" id="1" src="/images/social/email.png">
            <img class="social-icon" src="/images/social/facebook.png">
            <img class="social-icon" src="/images/social/twitter.png">
            <img class="social-icon" src="/images/social/instagram.png">
        </div>
    </div>
</div>