<nav>
    <div class="nav-wrapper">
        <ul class="main center hide-on-small-only">
            <div class="first">
                <li><a href="/">Home</a></li>
                <li><a href="/leagues">Programs</a></li>
                <li><a href="/franchise">Franchise</a></li>
            </div>
            <a href="/" class="no-hover"><img class="logo" src="/images/leagues/logo-draft.png"></a>
            <div class="second">
                <li><a href="/joinUs">Join Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/news">News</a></li>
            </div>
        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/" class="green-text text-darken-3">Home</a></li>
    <li><a href="/leagues" class="green-text text-darken-3">Programs</a></li>
    <li><a href="/franchise" class="green-text text-darken-3">Franchise</a></li>
    <li><a href="/joinUs" class="green-text text-darken-3">Join</a></li>
    <li><a href="/aboutus" class="green-text text-darken-3">About Us</a></li>
    <li><a href="/news" class="green-text text-darken-3">News</a></li>
</ul>