<nav>
    <div class="nav-wrapper green darken-3">
        <ul class="main center hide-on-small-only">
            <div class="first">
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/franchise">Franchise</a></li>
            </div>
            <a href="/" class="no-hover"><img class="logo" src="/images/leagues/logo-draft.png"></a>
            <div class="second">
                <li><a href="#">Join Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </div>
        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#" class="green-text text-darken-3">Leagues</a></li>
    <li><a href="#" class="green-text text-darken-3">Franchise</a></li>
    <li><a href="#" class="green-text text-darken-3">Join</a></li>
    <li><a href="/aboutus" class="green-text text-darken-3">About Us</a></li>
    <li><a href="#" class="green-text text-darken-3">Contact Us</a></li>
</ul>