<div class="newsContainer">
    <div class="container">
        <%- include('../minis/newsStory', {
            league: "MA",
            title: "TapIn Partnership",
            info: "Boston, MA June 3, 2020",
            img: "/images/news/news1.png",
            content: "../content/stories/tapinPartnership",
        }); %>
        <%- include('../minis/newsStory', {
            league: "NH",
            title: "Palla Partnership",
            info: "Boston, MA June 6, 2020",
            img: "/images/news/news2.png",
            content: "../content/stories/pallaPartnership",
        }); %>
    </div>
</div>