<div class="newsContainer col s12 m9 l10">
    <div class="container">
        <%- include('../minis/newsStory', {
            id:1,
            league: "MA",
            title: "TapIn Partnership",
            info: "Boston, MA June 3, 2020",
            img: "/images/news/news1.png",
            preview: '../content/stories/tapinPartnershipPreview',
            content: "../content/stories/tapinPartnership",
        }); %>
        <%- include('../minis/newsStory', {
            id:2,
            league: "NH",
            title: "Palla Partnership",
            info: "Boston, MA June 6, 2020",
            img: "/images/news/news2.png",
            preview: '../content/stories/pallaPartnershipPreview',
            content: "../content/stories/pallaPartnership",
        }); %>
        <%- include('../minis/newsStory', {
            id:3,
            league: "MA",
            title: "Grassroots Development League Partners with the NECSL",
            info: "Boston, MA January 20, 2020",
            img: "/images/news/news3.JPG",
            preview: '../content/stories/NECSLPreview',
            content: "../content/stories/NECSL",
        }); %>
    </div>
</div>