<div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents">
      <li><a href="#story1">TapIn Partnership</a></li>
      <li><a href="#story2">Palla Partnership</a></li>
    </ul>
</div>