<div class="container">
    <h3>Contact Form</h3>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Phone Number</label>
            </div>
          </div>
          <div class="row">
              <div class="col s6">
                <p>I am a: </p>
              </div>
              <div class="col s6">
                <p>
                    <label>
                      <input name="group1" type="radio" checked />
                      <span>Club Organization</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Town Organization</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio"  />
                      <span>Coach</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Player/Parent</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Referee</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Corporate Sponsor</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Prospective Franchise</span>
                    </label>
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col s6">
              <p>League interested in:  </p>
            </div>
            <div class="col s6">
              <p>
                  <label>
                    <input name="group2" type="radio" checked />
                    <span>Massachusetts</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group2" type="radio" />
                    <span>Maine</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group2" type="radio"  />
                    <span>New Hampshire</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group2" type="radio"/>
                    <span>Rhode Island</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group2" type="radio"/>
                    <span>Other</span>
                  </label>
                </p>
            </div>
        </div>
        </form>
    </div>
    <button class="btn waves-effect waves-light green hoverable">Submit</button>
</div>
