<a id="contact_form">
<div class="container joinUsInfo">
    <h3>Application</h3>
    <div class="row contactForm">
        <form class="col s12" action="https://formspree.io/mpzooqra" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input name="first_name" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input name="last_name" id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="email "id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="phone" id="phone" type="tel" class="validate">
              <label for="phone">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="last_name" id="last_name" type="text" class="validate">
              <label for="last_name">Organization Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <p>Member league: </p>
            </div>
            <div class="col s6">
              <p>
                <label>
                  <input name="League" type="radio" checked value="NECSL"/>
                  <span>NECSL</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="League" type="radio" value="Other"/>
                  <span>Other</span>
                </label>
              </p>
            </div>
          </div>
          <div class="row">
              <div class="col s6">
                <p>I am a: </p>
              </div>
              <div class="col s6">
                <p>
                  <label>
                    <input name="I_am" type="radio" checked value="Club"/>
                    <span>Club</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="I_am" type="radio" value="Town/Rec"/>
                    <span>Town/Rec Program</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="I_am" type="radio" value="Other"/>
                    <span>Other</span>
                  </label>
                </p>
                  
              </div>
          </div>
        </div>
        <div class="row button">
          <button class="btn waves-effect waves-light green hoverable tapinBtn">Submit</button>
        </div>
        </form>
    </div>
</div>
</a>
