<div class="fullImageAboutUs fullImageJoin responsive-img">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 content">
                <h3 class="white-text">Join Us</h3>
                <p class="white-text">
                    The Grassroots Development League is OPEN to all! Catering for 
                    U7 and U8 Boys and Girls, the programs supports Clubs, Town or Recreation Groups,
                    Individual Team and even Individual Players!
                    <br>
                    We are accepting applications for the Spring 2021 season NOW! <a href="#contact_form">Click here to register your interest now</a>
                </p>
            </div>
        </div>
    </div>
</div>