<div class="container joinUsInfo">
    <h3 class="bold">How to Join?</h3>
    <hr>
    <p class="info">
        Programs beginning in Spring 2021
        <br><br>
        Please click on your state below for more information on the league near you
    </p>
</div>