<div class="container joinUsInfo">
    <h3 class="bold">What's Included?</h3>
    <hr>
    <div class="row">
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinRed">
                Multiple 2 Festivals, 4 Games
            </div>
        </div>
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinRed">
                Unique, Digital Player Cards
            </div>
        </div>
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinRed">
                Developmental Feedback 
            </div>
        </div>
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinYellow">
                Fields
            </div>
        </div>
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinYellow">
                Referees and Site Staff
            </div>
        </div>
        <div class="col s12 l4">
            <div class="include valign-wrapper tapinYellow">
                Full Insurance Coverage
            </div>
        </div>
        <div class="col s12">
            <div class="include valign-wrapper tapinBlue">
                Complimentary Training Plans
            </div>
        </div>
    </div>
</div>