<div class="container">
    <h3>What's Included?</h3>
    <hr>
    <ul class="info">
        <li>7 Event Schedule, Including Fields and Referees</li>
        <li>End of Season Event</li>
        <li>Individual Team Awards</li>
        <li>Palla Soccer Ball</li>
        <li>Palla Shin Gaurds</li>
        <li>Uniqe Digital Player Card with Developement Focused Feedback and Statistics</li>
        <li>Full Insurance Coverage</li>
        <li>Weekly Session Plans</li>
        <li>Weekly Skills Challenges</li>
    </ul>
</div>