<div class="container joinUsInfo">
    <div class="row">
        <div class="league col s12 m4">
            <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
            <h5 class="green-text bold">GDL</h5>
        </div>
        <div class="towns col s12 m8" style="margin-top: 50px;">
            <table>
                <tr>
                    <a href="gdlsoccer.com/leagues/MA"><td class="bold">Massachusetts</td></a>
                    <a href="gdlsoccer.com/leagues/CT"><td class="bold">Connecticut</td></a>
                </tr>
                <tr>
                    <td>Marlborough, Taunton, Weston, Weymouth, Woburn, Newton, Ludlow and Byfield</td>
                    <td>Rocky Hill, Windsor, North Branford, Trumbull and Groton </td>
                </tr>
            </table>
        </div>
    </div>
</div>
