<div class="container joinUsInfo">
    <div class="row leagues">
        <div class="league col s12 m6 l3">
            <img class="leaguesLogo" src="/images/leagues/logo-draft.png">
            <h5 class="green-text bold">GDL MA</h5>
        </div>
        <div class="league col s12 m6 l3">
            <img class="leaguesLogo" src="/images/leagues/red.png">
            <h5 class="red-text bold">GDL RI</h5>
        </div>
        <div class="league col s12 m6 l3">
            <img class="leaguesLogo" src="/images/leagues/orange.png">
            <h5 class="orange-text bold">GDL NH</h5>
        </div>
        <div class="league col s12 m6 l3">
            <img class="leaguesLogo" src="/images/leagues/purple.png">
            <h5 class="blue-text bold">GDL ME</h5>
        </div>
    </div>
</div>
