<div class="container joinUsInfo">
    <h3 class="bold">What's My Options?</h3>
    <hr>
    <table style="table-layout: fixed;" class="optionsTable">
        <tr class="grey lighten-1">
            <td>GDL</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
            <td>
                <p>All you have to do is have your players register, provide a coach, and we will do the rest!</p>
            </td>
        </tr>
        <tr class="grey lighten-1">
            <td>GDL Hybrid</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/hybrid.png">
            </td>
            <td>
                <p>An a-la-carte option for organizations - take on as much or as little as you like, then it's up to us!</p>
            </td>
        </tr>
        <tr class="grey lighten-1">
            <td>Powered by GDL</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/double.png">
                <img src="/images/leagues/logo-draft.png">
            </td>
            <td>
                <p>We provide the format, the content, and the technology, use your resources to do the rest!</p>
            </td>
        </tr>
        <tr>
            <td class="bottom" colspan="2" style="border: 1px solid lightgrey">
                <p>*Organizations can use the GDL to run in-house only programs, invite other select groups, or enter into open programs with multiple other teams</p>
            </td>
        </tr>
    </table>
    <table style="table-layout: fixed;" class="optionsTableMobile">
        <tr class="grey lighten-1">
            <td>GDL</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td><p>All you have to do is have your players register, provide a coach, and we will do the rest!</p></td>
        </tr>
        <tr class="grey lighten-1">
            <td>GDL Hybrid</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/hybrid.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td>
                <p>An a-la-carte option for organizations - take on as much or as little as you like, then it's up to us!</p> 
            </td>
        </tr>
        <tr class="grey lighten-1">
            <td>Powered by GDL</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
                <img src="/images/leagues/double.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td>
                <p>We provide the format, the content, and the technology, use your resources to do the rest!</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>*Organizations can use the GDL to run in-house only programs, invite other select groups, or enter into open programs with multiple other teams</p>
            </td>
        </tr>
    </table>
</div>