<div class="container joinUsInfo">
    <h3 class="bold">What's My Options?</h3>
    <hr>
    <table style="table-layout: fixed;" class="optionsTable">
        <tr class="grey lighten-1">
            <td>GDL</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
            <td>
                <p>Submit an application for a GDL Program at any of our locations through MA and CT TODAY</p>
            </td>
        </tr>
        <tr class="grey lighten-1">
            <td>Powered by GDL</td>
            <td></td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/double.png">
                <img src="/images/leagues/logo-draft.png">
            </td>
            <td>
                <p>The GDL also provides the option to adopt the program internally for those who prefer to keep things ‘in-house’. For more information on this program please contact info@gdlsoccer.com</p>
            </td>
        </tr>
        <!-- IDK why but  deleting this messes up the formatting  -->
        <tr>
        </tr>
    </table>
    <table style="table-layout: fixed;" class="optionsTableMobile">
        <tr class="grey lighten-1">
            <td>GDL</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td><p>Submit an application for a GDL Program at any of our locations through MA and CT TODAY</p></td>
        </tr>
        <tr class="grey lighten-1">
            <td>Powered by GDL</td>
        </tr>
        <tr class="grey lighten-5">
            <td>
                <img src="/images/leagues/logo-draft.png">
                <img src="/images/leagues/double.png">
            </td>
        </tr>
        <tr class="grey lighten-3">
            <td>
                <p>The GDL also provides the option to adopt the program internally for those who prefer to keep things ‘in-house’. For more information on this program please contact info@gdlsoccer.com</p>
            </td>
        </tr>
        <!-- IDK why but  deleting this messes up the formatting  -->
        <tr>
        </tr>
    </table>
</div>