<div class="types">
    <div class="container joinUsInfo">
        <h3 class="bold">Who's it For?</h3>
        <hr>
        <table class="typesTable" style="table-layout: fixed;"> 
            <tr class="headers">
                <td class="grey lighten-1">Club</td>
                <td class="grey lighten-1">Town/Rec Group</td>
                <td class="grey lighten-1">Team</td>
                <td class="grey lighten-1">Player</td>
                <td class="grey lighten-1">Referee</td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icons/club.png">
                </td>
                <td>
                    <img src="/images/icons/rec.png">
                </td>
                <td>
                    <img src="/images/icons/team.png" class="team">
                </td>
                <td>
                    <img src="/images/icons/soccerguy.png">
                </td>
                <td>
                    <img src="/images/icons/referee.png">
                </td>
            </tr>
            <tr class="descriptions">
                <td class="grey lighten-4">
                    <p>Add value and diversity to all your U7 and U8 programming!</p>
                </td>
                <td class="grey lighten-4">
                    <p>Provide supplemental development opportunities for your U7 and U8 players!</p>
                </td>
                <td class="grey lighten-4">
                    <p>Enhance the U7 and U8 training</p>
                </td>
                <td class="grey lighten-4">
                    <p>Meet new friends, connect with a group, join the program!</p>
                </td>
                <td class="grey lighten-4">
                    <p>Get certified, choose your own schedule, get paid!</p>
                </td>
            </tr>
        </table>

        <table class="typesTableMobile">
            <tr>
                <td class="grey lighten-1">Club</td>
                <td><img src="/images/icons/club.png"></td>
            </tr>
            <tr >
                <td colspan="2" class="grey lighten-4">
                    <p>Add value and diversity to all your U7 and U8 programming!</p>
                </td>
            <tr>
                <td class="grey lighten-1">Town/Rec Group</td>
                <td><img src="/images/icons/rec.png"></td>
            </tr>
            <tr >
                <td colspan="2" class="grey lighten-4">
                    <p>Provide supplemental development oppurtunities for your U7 and U8 players!</p>
                </td>
            <tr>
                <td class="grey lighten-1">Team</td>
                <td><img src="/images/icons/team.png"></td>
            </tr>
            <tr >
                <td colspan="2" class="grey lighten-4">
                    <p>Enhance the U7 and U8 training</p>
                </td>
            <tr>
                <td class="grey lighten-1">Player</td>
                <td><img src="/images/icons/player.png"></td>
            </tr>
            <tr >
                <td colspan="2" class="grey lighten-4">
                    <p>Meet new friends, connect with a group, join the program!</p>
                </td>
            <tr>
                <td class="grey lighten-1">Referee</td>
                <td><img src="/images/icons/referee.png"></td>
            </tr>
            <tr >
                <td colspan="2" class="grey lighten-4">
                    <p>Get certified, choose your own schedule, get paid!</p>
                </td>
            </tr>
        </table>
    </div>
</div>