Just by registering to play in the GDL, you are already sponsoring a young player's participation 
in a TapIn League in a developing nation! 
Looking to help more? You can:
<br>
<ul>
    <li>Also pay these same players uniform for just $15 each!</li>
    <li>Sponsor an entire team in a developing nation for a league play and uniforms for just $450</li>
    <li>Sponsor another GDL player, or full GDL team, that may otherwise not be able to afford to participate</li>
</ul>